# Dependencias (Esto eliminará el 90% de los archivos basura)
node_modules
**/node_modules
**/jspm_packages
**/pnpm-lock.yaml
**/package-lock.json
**/yarn.lock

# Next.js (Carpeta de compilación)
**/client/.next/
**/client/out/
**/client/build

# Logs
*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# Variables de Entorno (¡MUY IMPORTANTE POR SEGURIDAD!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# Prisma
**/server/shared/prisma/migrations/
# Si decides subir las migraciones al repo, comenta la línea de arriba con un #

# Archivos de Sistema
.DS_Store
Thumbs.db
*.bak
*.swp

# IDEs y Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar sesión de WhatsApp
server/notifications-service/.wwebjs_auth/
server/notifications-service/.wwebjs_cache/
